<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
        Set LOG_FORMAT=json in production to emit one JSON object per line
        (parsed by Grafana Loki / any log aggregator).
        Default is the human-friendly pattern format for local development.
    -->
    <if condition='property("LOG_FORMAT").equals("json")'>
        <then>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                    <fieldNames>
                        <timestamp>ts</timestamp>
                        <message>msg</message>
                        <logger>logger</logger>
                        <thread>thread</thread>
                        <levelValue>[ignore]</levelValue>
                    </fieldNames>
                    <includeContext>false</includeContext>
                    <includeMdc>true</includeMdc>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </else>
    </if>

    <logger name="kz.global.api" level="DEBUG"/>
    <logger name="io.ktor" level="INFO"/>
    <logger name="org.jetbrains.exposed" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
